<div class="heading">
  <%= link_to "<<<", workspaces_path, class:"btn btn-back" %>
  <h2 class=" u-center-text trslt-lft-sm">Sign up</h2>
</div>

<div class="container mg-tp-sm mg-btm-hg">
  <div class="row justify-content-center">
    <div class="col-lg-6">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :username,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "Captain America" }%>
          <div class="d-flex justify-content-between">
            <%= f.input :first_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Captain America" }%>
            <%= f.input :last_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Captain America" }%>
          </div>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
           <%= f.input :photo, as: :file %>
        </div>
      <div class="form-actions d-flex justify-content-start">
        <%= f.button :submit, "Sign up", class: 'btn btn-success btn-md m-2'%>
      </div>
      <% end %>
    </div>
  </div>
</div>
