


<div class="container mg-tp-md">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <%= simple_form_for @workspace do |f| %>
        <%= f.input :name, placeholder: 'IdeaFactory' %>
        <%= f.input :description, placeholder: 'A quiet space for the concentrated mind' %>
        <%= f.input :address, placeholder: '25 street Renens' %>
        <%= f.input :capacity, input_html: { min: '1', step: '1' } %>
        <%= f.input :daily_rate, placeholder: '$14.50', input_html: { min: '1', step: '1' } %>
        <%= f.input :photo, as: :file %>
        <div class=" h-centered">
        <%= f.button :submit, "Update", class: "btn btn-edit u-margin-bottom-md" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
