<div class="grid-index">
  <div class="grid-index-right">
    <section class="section">
      <% @workspaces.each do |workspace| %>
        <div class="card-grid">
          <a class="card" href= <%=workspace_path(workspace)%> >
            <% if workspace.photo.attached? %>
              <div class="card_background_active" style="background-image: url('<%= cl_image_path workspace.photo.key, height: 300, width: 400, crop: :fill%>')">
              </div> 
              <% else %>
                <div class="card_background"></div>
              <% end %>
              <div class="card_content">
                <p class="card_category"><%= workspace.address %></p>
                <h3 class="card_heading"><%= workspace.name %></h3>
              </div>
            </a>
          </div>
      <% end %>
    </section>
  </div>

  <div class="grid-index-left">
    <div id="map"
      style="width: 33vw; height: 90vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      class="map_index">
    </div>
  </div>
</div>