<div class="grid-index">
  <div class="grid-index-right">
    <div class="form-group form-index">
      <h2 class="search_heading mt-3">What location are you looking for ?</h2>
      <div class="search_input_main">
        <%= form_tag workspaces_path, class:"search_input", method: :get do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control form-control-index",
              placeholder: "Enter a localisation"
          %>
          <%= submit_tag "Search", class: "btn btn-edit" %>
        <% end %>
      </div>
    </div>
    <section class="section-work mg-btm-hg">
      <% @workspaces.each do |workspace| %>
        <div class="card-grid">
          <a class="card" href= <%=workspace_path(workspace)%> >
            <% if workspace.photo.attached? %>
              <div class="card_background_active" style="background-image: url('<%= cl_image_path workspace.photo.key, height: 300, width: 400, crop: :fill%>')">
              </div> 
              <% else %>
                <div class="card_background"></div>
              <% end %>
              <div class="card_content">
                <h3 class="card_heading u-center-text"><%= workspace.name %></h3>
                <p class="card_category"><i class="fas fa-map-pin icon"></i><%= workspace.address %></p>
              </div>
            </a>
          </div>
      <% end %>
    </section>
  </div>

  <div class="grid-index-left">
    <div id="map"
      style="width: 33vw; height: 90vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      class="map_index">
    </div>
  </div>
</div>