<div class ="grid-show">
  <div class="grid-left">
    <div class="heading-show">
      
      <%= link_to "Back", workspaces_path, class:"btn btn-home" %>
      <h2>Discover... <span><%= @workspace.name %></span></h2>
    </div>
    <div class="workspace-card">
      <div class="top">
        <div class="card-photo">
          <% if @workspace.photo.attached? %>
          <%= cl_image_tag @workspace.photo.key, class:'image_workspace' %>
          <% end %>
        </div>
        <div class="card-details">
          <ul>
            <li><i class="fas fa-map-pin workspace-icon"></i><%= @workspace.address %></li>
            <li><i class="fas fa-users workspace-icon"></i><%= @workspace.capacity %> Max </li>
            <li><i class="fab fa-bitcoin workspace-icon"></i><%= @workspace.daily_rate %>$ / Day</li>
          </ul>
        </div>
      </div>
      <div class="bottom">
        <p class="description"><i class="fas fa-star workspace-icon"></i><%= @workspace.description %></p>
      </div>
    </div>


  </div>
  <div class="grid-right">
    <%= image_tag "map.png", alt: "map", class:"workspace-image" %>
  </div>
</div>

