<div class ="grid-show">
  <div class="grid-left">
    <h2>Discover... <span><%= @workspace.name %></span></h2>
    <div class="workspace-card">
      <ul>
        <li><i class="fas fa-map-pin workspace-icon"></i><%= @workspace.address %></li>
        <li><i class="fas fa-users workspace-icon"></i><%= @workspace.capacity %> Max </li>
        <li><i class="fab fa-bitcoin workspace-icon"></i><%= @workspace.daily_rate %>$ / Day</li>
        <li class="description"><i class="fas fa-star workspace-icon"></i><%= @workspace.description %></li>
      </ul>
    </div>
  </div>
  <div class="grid-right">
    <%= image_tag "map.png", alt: "map", class:"workspace-image"%>
  </div>
</div>
