<div class ="grid-show">
  <div class="grid-left mg-btm-hg">
    <div class="heading-show mg-top-sm">
      <%= link_to "<<<", workspaces_path, class:"btn btn-back" %>
      <h2>Discover... </h2>
    </div>
    <div class="workspace-card">
      <div class="top">
        <div class="card-photo">
          <% if @workspace.photo.attached? %>
          <%= cl_image_tag @workspace.photo.key, class:'image_workspace' %>
          <% end %>
        </div>
        <div class="card-details">
        <p class="workspace_name u-center-text"><%= @workspace.name %></p>
          <ul class="flexyflex">
            <li><i class="fas fa-map-pin workspace-icon"></i><%= @workspace.address %></li>
            <li><i class="fas fa-users workspace-icon"></i><%= @workspace.capacity %> Max </li>
            <li><i class="fab fa-bitcoin workspace-icon mg-btm-v-sm"></i><%= @workspace.daily_rate %>$ / Day</li>
            <li class="u-center-text">
              <%= link_to "Edit Workspace", edit_workspace_path(@workspace), class:"btn btn-home btn-center mg-right-md"  %>
              <%= link_to "Delete", workspace_path, method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-home btn-center"  %>
            </li>
          </ul>
        </div>
      </div>
      <div class="bottom">
        <p class="description"><i class="fas fa-star workspace-icon"></i><%= @workspace.description %></p>
      </div>
      <div class="btn-center">
        <%= link_to "Book", new_workspace_booking_path(@workspace), class:"btn btn-home btn-booking" %>
      </div>
    </div>
  </div>
  <div class="grid-right">
    <div id="map"
      style="width: 33vw; height: 90vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" class="map-img" >
    </div>
  </div>
</div>

    
