<div class="heading">
  <%= link_to "<<<", workspaces_path, class:"btn btn-back" %>
  <h2 class=" u-center-text trslt-lft-sm">Forgot your password?</h2>
</div>

<div class="container">
  <div class="row-new"> 
    <div class="col-lg-6">
    
    <h2></h2>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions u-center-text pd-btm-md">
          <%= f.button :submit, "Reset password", class:"btn btn-success mb-4" %>
        </div>
      <% end %>

      <div class="d-flex justify-content-start">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>